{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<h1>Treasuregram</h1>
	<div class="col-xs-4">
	{% for treasure in treasures %}
		<p>{{ treasure.name }}</p>
		{% if treasure.value > 0 %}
			<p>{{ treasure.value }}</p>
		{% else %}
			<p>Unknown</p>
		{% endif %}
	{% endfor %}
	</div>
</body>
</html>